astroid==2.4.2
awscli==1.18.216
blinker==1.4
botocore==1.19.56
bulrush==0.4.0
colorama==0.4.3
docutils==0.15.2
feedgenerator==1.9.1
importlib-metadata==3.4.0
isort==5.7.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
pelican==4.5.4
pyasn1==0.4.8
Pygments==2.6.1
pylint==2.6.0
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.5
PyYAML==5.3.1
rsa==4.5
s3cmd==2.1.0
s3transfer==0.3.4
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
Unidecode==1.1.2
urllib3==1.26.2
webassets==2.0
wrapt==1.12.1
zipp==3.4.0
